:root {
    --main-body: #fafafa;
    --main-body-title:#111517;
    --main-body-header:#fff;
    --main-body-search:#b2b2b2;
    --main-body-plec:#c4c4c4;
    --main-hover:#111517;
    --main-caret:#111517;
}